@using AyudarXAyudar.Views.Home.Resources
@{
    ViewBag.Title = @Contact.Title;
}
<h2>@Contact.Title</h2>
<h3>@Contact.Message</h3>

<address>
    Ayudar X Ayudar<br />
    Matamoros, Tamaulipas @Contact.Mexico<br />
    <abbr title="@Contact.Phone">@Contact.PhoneAbbr</abbr>
    (+52) 868 831 2425
</address>

<address>
    <strong>@Contact.Email:</strong> <a href="mailto:ayudarxayudar.rescatistasunidos@hotmail.com">ayudarxayudar.rescatistasunidos@hotmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/unidosrescatistas">https://www.facebook.com/unidosrescatistas</a>
</address>