@using AyudarXAyudar.Views.Pets.Resources
@model AyudarXAyudar.Models.Pet

@{
    ViewBag.Title = @Details.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Details.Title</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PictureUrl)
        </dt>

        <dd>
            <img src="@Url.Content(Model.PictureUrl)" alt="pic" class="img-thumbnail"/>        
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(@Details.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Details.BackToList, "Index")
</p>
