@using AyudarXAyudar.Views.Pets.Resources

@model IEnumerable<AyudarXAyudar.Models.Pet>

@{
    ViewBag.Title = Index.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Index.Title</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Index.Name
        </th>
        <th>
            @Index.Picture
        </th>
        <th>
            @Index.Description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink(Index.Edit, "Edit", new { id = item.Id });
                @Html.ActionLink(Index.Details, "Details", new { id = item.Id });
                @Html.ActionLink(Index.Delete, "Delete", new { id = item.Id });
            }
        </td>
    </tr>
}

</table>
