@using AyudarXAyudar.Views.Pets.Resources

@model IEnumerable<AyudarXAyudar.Models.Pet>

@{
    ViewBag.Title = Index.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Index.Title</h2>

<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink(Index.CreateNew, "Create")
    }
</p>
<table class="table">
    <tr>
        <th width="10%">
            @Index.Name
        </th>
        <th width="25%">
            @Index.Picture
        </th>
        <th width="25%">
            @Index.Description
        </th>
        <th width="15%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@Url.Content(item.PictureUrl)" alt="pic" class="img-thumbnail"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink(Index.Edit, "Edit", new { id = item.Id });
                @Html.Raw(" | "); 
                @Html.ActionLink(Index.Details, "Details", new { id = item.Id });
                @Html.Raw(" | ");
                @Html.ActionLink(Index.Delete, "Delete", new { id = item.Id });
            }
        </td>
    </tr>
}

</table>
